# vscode
*vscode

# mdout file
**/mdout.mdp

# custom mdp files
mdp_*K*

# mdf files
mdf/*

# jupyter
**/.ipynb_checkpoints

# benchmark files
bench*

# backup files
*\#

# data
**.xvg

# ipynb
**/.ipynb_checkpoints
